h1 
			{
			font-family: Arial, Helvetica, sans-serif;
			background-color: #ffffff;
			color: #666666;
			background-image: url("file:///C:/Users/Eduardo/source/repos/eddieware/EXPERIENCIA_DE_USUARIO_UX/EXPERIENCIA_DE_USUARIO_UX/Pacific_Trails_Webside/img/sunset.jpg")
			}
